In [2]:
import pandas as pd
import numpy as np

### experiment 1

In [7]:
df_1 = pd.read_excel('exp_1/K.xlsx')
df_1

   Unnamed: 0  $c_{cor}$=0  $c_{cor}$=0.2  $c_{cor}$=0.4
0           1     3.204119      24.009225     202.567451
1           2     2.106475      14.386671     160.712690
2           3     1.631758      12.421762     153.306285
3           4     1.310298      11.471173     151.147887
4           5     1.073173      10.728423     149.978289
5           6     0.895833      10.059265     149.005627
6           7     0.762911       9.438113     148.076954
7           8     0.663242       8.858204     147.162345
8           9     0.588497       8.316207     146.255888
9          10     0.532442       7.809533     145.356261

In [8]:
df_2 = pd.read_excel('exp_1/rho.xlsx')
df_2

   Unnamed: 0  $c_{cor}$=0  $c_{cor}$=0.2  $c_{cor}$=0.4
0           1     0.802740       0.802740       0.802740
1           2     0.760459       0.760459       0.760459
2           3     0.752071       0.752071       0.752071
3           4     0.750409       0.750409       0.750409
4           5     0.750081       0.750081       0.750081
5           6     0.750016       0.750016       0.750016
6           7     0.750003       0.750003       0.750003
7           8     0.750001       0.750001       0.750001
8           9     0.750000       0.750000       0.750000
9          10     0.750000       0.750000       0.750000

In [11]:
df_all = pd.concat([df_1, df_2], axis=1)
df_all

,Unnamed: 0,$c_{cor}$=0,$c_{cor}$=0.2,$c_{cor}$=0.4,Unnamed: 0,$c_{cor}$=0,$c_{cor}$=0.2,$c_{cor}$=0.4
0,1,3.204119,24.009225,202.567451,1,0.802740,0.802740,0.802740
1,2,2.106475,14.386671,160.712690,2,0.760459,0.760459,0.760459
2,3,1.631758,12.421762,153.306285,3,0.752071,0.752071,0.752071
3,4,1.310298,11.471173,151.147887,4,0.750409,0.750409,0.750409
4,5,1.073173,10.728423,149.978289,5,0.750081,0.750081,0.750081
5,6,0.895833,10.059265,149.005627,6,0.750016,0.750016,0.750016
6,7,0.762911,9.438113,148.076954,7,0.750003,0.750003,0.750003
7,8,0.663242,8.858204,147.162345,8,0.750001,0.750001,0.750001
8,9,0.588497,8.316207,146.255888,9,0.750000,0.750000,0.750000
9,10,0.532442,7.809533,145.356261,10,0.750000,0.750000,0.750000

In [31]:
R = 4
col = 3
k = 1
for i in range(len(df_all)):
    s = f'{k} &'
    for j in range(col):
        s += f"{round(df_all.iloc[i, 1 + j], R)} & "
        s += f"{round(np.log10(df_all.iloc[i, 1 + j]), R)} & "
        s += f"{round(df_all.iloc[i, 2 + col + j], R)} & "
    k += 1
    print(s[:-2] + "\\\\ \\hline")

1 &3.2041 & 0.5057 & 0.8027 & 24.0092 & 1.3804 & 0.8027 & 202.5675 & 2.3066 & 0.8027 \\ \hline
2 &2.1065 & 0.3236 & 0.7605 & 14.3867 & 1.158 & 0.7605 & 160.7127 & 2.2061 & 0.7605 \\ \hline
3 &1.6318 & 0.2127 & 0.7521 & 12.4218 & 1.0942 & 0.7521 & 153.3063 & 2.1856 & 0.7521 \\ \hline
4 &1.3103 & 0.1174 & 0.7504 & 11.4712 & 1.0596 & 0.7504 & 151.1479 & 2.1794 & 0.7504 \\ \hline
5 &1.0732 & 0.0307 & 0.7501 & 10.7284 & 1.0305 & 0.7501 & 149.9783 & 2.176 & 0.7501 \\ \hline
6 &0.8958 & -0.0478 & 0.75 & 10.0593 & 1.0026 & 0.75 & 149.0056 & 2.1732 & 0.75 \\ \hline
7 &0.7629 & -0.1175 & 0.75 & 9.4381 & 0.9749 & 0.75 & 148.077 & 2.1705 & 0.75 \\ \hline
8 &0.6632 & -0.1783 & 0.75 & 8.8582 & 0.9473 & 0.75 & 147.1623 & 2.1678 & 0.75 \\ \hline
9 &0.5885 & -0.2303 & 0.75 & 8.3162 & 0.9199 & 0.75 & 146.2559 & 2.1651 & 0.75 \\ \hline
10 &0.5324 & -0.2737 & 0.75 & 7.8095 & 0.8926 & 0.75 & 145.3563 & 2.1624 & 0.75 \\ \hline

### experiment 2

In [9]:
df_3 = pd.read_excel('exp_2/L_log.xlsx')
df_3

   Unnamed: 0  $c_{cor}$=0  $c_{cor}$=0.2  $c_{cor}$=0.4
0           1     0.505709       1.380378       1.973628
1           2     0.323556       1.157960       1.653238
2           3     0.212656       1.094183       1.573584
3           4     0.117370       1.059608       1.549075
4           5     0.030670       1.030536       1.535507
5           6    -0.047773       1.002566       1.524067
6           7    -0.117526       0.974885       1.513044
7           8    -0.178328       0.947346       1.502105
8           9    -0.230255       0.919925       1.491187
9          10    -0.273728       0.892625       1.480277

In [3]:
df_1 = pd.read_excel('exp_2/L.xlsx')
df_1

   Unnamed: 0  $c_{cor}$=0  $c_{cor}$=0.2  $c_{cor}$=0.4
0           1     3.204119      24.009225      94.108298
1           2     2.106475      14.386671      45.002641
2           3     1.631758      12.421762      37.461369
3           4     1.310298      11.471173      35.405878
4           5     1.073173      10.728423      34.316849
5           6     0.895833      10.059265      33.424670
6           7     0.762911       9.438113      32.586942
7           8     0.663242       8.858204      31.776421
8           9     0.588497       8.316207      30.987527
9          10     0.532442       7.809533      30.218769

In [4]:
df_2 = pd.read_excel('exp_2/rho.xlsx')
df_2

   Unnamed: 0  $c_{cor}$=0  $c_{cor}$=0.2  $c_{cor}$=0.4
0           1     0.802740       0.802740       0.802740
1           2     0.760459       0.760459       0.760459
2           3     0.752071       0.752071       0.752071
3           4     0.750409       0.750409       0.750409
4           5     0.750081       0.750081       0.750081
5           6     0.750016       0.750016       0.750016
6           7     0.750003       0.750003       0.750003
7           8     0.750001       0.750001       0.750001
8           9     0.750000       0.750000       0.750000
9          10     0.750000       0.750000       0.750000

In [11]:
df_all = pd.concat([df_1, df_2, df_3], axis=1)
df_all

,Unnamed: 0,$c_{cor}$=0,$c_{cor}$=0.2,$c_{cor}$=0.4,Unnamed: 0,$c_{cor}$=0,$c_{cor}$=0.2,$c_{cor}$=0.4,Unnamed: 0,$c_{cor}$=0,$c_{cor}$=0.2,$c_{cor}$=0.4
0,1,3.204119,24.009225,94.108298,1,0.802740,0.802740,0.802740,1,0.505709,1.380378,1.973628
1,2,2.106475,14.386671,45.002641,2,0.760459,0.760459,0.760459,2,0.323556,1.157960,1.653238
2,3,1.631758,12.421762,37.461369,3,0.752071,0.752071,0.752071,3,0.212656,1.094183,1.573584
3,4,1.310298,11.471173,35.405878,4,0.750409,0.750409,0.750409,4,0.117370,1.059608,1.549075
4,5,1.073173,10.728423,34.316849,5,0.750081,0.750081,0.750081,5,0.030670,1.030536,1.535507
5,6,0.895833,10.059265,33.424670,6,0.750016,0.750016,0.750016,6,-0.047773,1.002566,1.524067
6,7,0.762911,9.438113,32.586942,7,0.750003,0.750003,0.750003,7,-0.117526,0.974885,1.513044
7,8,0.663242,8.858204,31.776421,8,0.750001,0.750001,0.750001,8,-0.178328,0.947346,1.502105
8,9,0.588497,8.316207,30.987527,9,0.750000,0.750000,0.750000,9,-0.230255,0.919925,1.491187
9,10,0.532442,7.809533,30.218769,10,0.750000,0.750000,0.750000,10,-0.273728,0.892625,1.480277

In [13]:
R = 4
col = 3
k = 1
for i in range(len(df_all)):
    s = f'{k} &'
    for j in range(col):
        s += f"{round(df_all.iloc[i, 1 + j], R)} & "
        s += f"{round(df_all.iloc[i, 3 + 2 * col + j], R)} & "
        s += f"{round(df_all.iloc[i, 2 + col + j], R)} & "

    k += 1
    print(s[:-2] + "\\\\ \\hline")

1 &3.2041 & 0.5057 & 0.8027 & 24.0092 & 1.3804 & 0.8027 & 94.1083 & 1.9736 & 0.8027 \\ \hline
2 &2.1065 & 0.3236 & 0.7605 & 14.3867 & 1.158 & 0.7605 & 45.0026 & 1.6532 & 0.7605 \\ \hline
3 &1.6318 & 0.2127 & 0.7521 & 12.4218 & 1.0942 & 0.7521 & 37.4614 & 1.5736 & 0.7521 \\ \hline
4 &1.3103 & 0.1174 & 0.7504 & 11.4712 & 1.0596 & 0.7504 & 35.4059 & 1.5491 & 0.7504 \\ \hline
5 &1.0732 & 0.0307 & 0.7501 & 10.7284 & 1.0305 & 0.7501 & 34.3168 & 1.5355 & 0.7501 \\ \hline
6 &0.8958 & -0.0478 & 0.75 & 10.0593 & 1.0026 & 0.75 & 33.4247 & 1.5241 & 0.75 \\ \hline
7 &0.7629 & -0.1175 & 0.75 & 9.4381 & 0.9749 & 0.75 & 32.5869 & 1.513 & 0.75 \\ \hline
8 &0.6632 & -0.1783 & 0.75 & 8.8582 & 0.9473 & 0.75 & 31.7764 & 1.5021 & 0.75 \\ \hline
9 &0.5885 & -0.2303 & 0.75 & 8.3162 & 0.9199 & 0.75 & 30.9875 & 1.4912 & 0.75 \\ \hline
10 &0.5324 & -0.2737 & 0.75 & 7.8095 & 0.8926 & 0.75 & 30.2188 & 1.4803 & 0.75 \\ \hline

### experiment 3

In [39]:
df_1 = pd.read_excel('exp_3/N.xlsx')
df_1

    Unnamed: 0  $b_1$=0.5   $b_1$=1  $b_1$=1.5    $b_1$=2
0            1   0.181269  0.329680   0.451188   0.550671
1            2   0.283159  0.519297   0.761508   0.995599
2            3   0.416426  0.685566   1.011265   1.380750
3            4   0.602171  0.880727   1.253933   1.742265
4            5   0.840317  1.121111   1.517806   2.101959
5            6   1.127817  1.409056   1.816227   2.472886
6            7   1.461500  1.742803   2.154286   2.863369
7            8   1.838374  2.119678   2.532842   3.278757
8            9   2.255639  2.536945   2.950773   3.722263
9           10   2.710676  2.991991   3.406147   4.195508
10          11   3.201038  3.482366   3.896770   4.698955
11          12   3.724435  4.005779   4.420435   5.232255
12          13   4.278725  4.560085   4.975019   5.794526
13          14   4.861905  5.143282   5.558517   6.384555
14          15   5.472104  5.753497   6.169045   7.000945
15          16   6.107569  6.388978   6.804845   7.642222
16          17   6.766663  7.048087   7.464271   8.306900
17          18   7.447855  7.729293   8.145787   8.993520
18          19   8.149711  8.431162   8.847958   9.700682
19          20   8.870893  9.152356   9.569442  10.427052

In [41]:
R = 4
col = 4
k = 1
for i in range(len(df_1)):
    s = f'{k} &'
    for j in range(col):
        s += f"{round(df_1.iloc[i, 1 + j], R)} & "
    k += 1
    print(s[:-2] + "\\\\ \\hline")

1 &0.1813 & 0.3297 & 0.4512 & 0.5507 \\ \hline
2 &0.2832 & 0.5193 & 0.7615 & 0.9956 \\ \hline
3 &0.4164 & 0.6856 & 1.0113 & 1.3807 \\ \hline
4 &0.6022 & 0.8807 & 1.2539 & 1.7423 \\ \hline
5 &0.8403 & 1.1211 & 1.5178 & 2.102 \\ \hline
6 &1.1278 & 1.4091 & 1.8162 & 2.4729 \\ \hline
7 &1.4615 & 1.7428 & 2.1543 & 2.8634 \\ \hline
8 &1.8384 & 2.1197 & 2.5328 & 3.2788 \\ \hline
9 &2.2556 & 2.5369 & 2.9508 & 3.7223 \\ \hline
10 &2.7107 & 2.992 & 3.4061 & 4.1955 \\ \hline
11 &3.201 & 3.4824 & 3.8968 & 4.699 \\ \hline
12 &3.7244 & 4.0058 & 4.4204 & 5.2323 \\ \hline
13 &4.2787 & 4.5601 & 4.975 & 5.7945 \\ \hline
14 &4.8619 & 5.1433 & 5.5585 & 6.3846 \\ \hline
15 &5.4721 & 5.7535 & 6.169 & 7.0009 \\ \hline
16 &6.1076 & 6.389 & 6.8048 & 7.6422 \\ \hline
17 &6.7667 & 7.0481 & 7.4643 & 8.3069 \\ \hline
18 &7.4479 & 7.7293 & 8.1458 & 8.9935 \\ \hline
19 &8.1497 & 8.4312 & 8.848 & 9.7007 \\ \hline
20 &8.8709 & 9.1524 & 9.5694 & 10.4271 \\ \hline

### experiment 4

In [44]:
df_1 = pd.read_excel('exp_4/P_custom.xlsx')
df_1

    Unnamed: 0  $b_1$=0.5   $b_1$=1  $b_1$=1.5   $b_1$=2
0            1   0.093804  0.053115   0.023673  0.007161
1            2   0.149388  0.109223   0.065774  0.030206
2            3   0.192694  0.147578   0.099099  0.050836
3            4   0.232143  0.178500   0.124041  0.067708
4            5   0.268937  0.206203   0.144347  0.081290
5            6   0.303336  0.231825   0.162040  0.092452
6            7   0.335504  0.255712   0.178036  0.101887
7            8   0.365586  0.278027   0.192755  0.110066
8            9   0.393718  0.298887   0.206408  0.117301
9           10   0.420026  0.318391   0.219120  0.123797
10          11   0.444630  0.336628   0.230976  0.129694
11          12   0.467638  0.353682   0.242045  0.135088
12          13   0.489155  0.369630   0.252385  0.140049
13          14   0.509277  0.384544   0.262046  0.144628
14          15   0.528095  0.398491   0.271075  0.148866
15          16   0.545693  0.411533   0.279515  0.152796
16          17   0.562150  0.423731   0.287405  0.156446
17          18   0.577541  0.435137   0.294782  0.159840
18          19   0.591934  0.445804   0.301679  0.162998
19          20   0.605394  0.455780   0.308128  0.165939

In [46]:
R = 4
col = 4
k = 1
for i in range(len(df_1)):
    s = f'{k} &'
    for j in range(col):
        s += f"{round(df_1.iloc[i, 1 + j], R)} & "
    k += 1
    print(s[:-2] + "\\\\ \\hline")

1 &0.0938 & 0.0531 & 0.0237 & 0.0072 \\ \hline
2 &0.1494 & 0.1092 & 0.0658 & 0.0302 \\ \hline
3 &0.1927 & 0.1476 & 0.0991 & 0.0508 \\ \hline
4 &0.2321 & 0.1785 & 0.124 & 0.0677 \\ \hline
5 &0.2689 & 0.2062 & 0.1443 & 0.0813 \\ \hline
6 &0.3033 & 0.2318 & 0.162 & 0.0925 \\ \hline
7 &0.3355 & 0.2557 & 0.178 & 0.1019 \\ \hline
8 &0.3656 & 0.278 & 0.1928 & 0.1101 \\ \hline
9 &0.3937 & 0.2989 & 0.2064 & 0.1173 \\ \hline
10 &0.42 & 0.3184 & 0.2191 & 0.1238 \\ \hline
11 &0.4446 & 0.3366 & 0.231 & 0.1297 \\ \hline
12 &0.4676 & 0.3537 & 0.242 & 0.1351 \\ \hline
13 &0.4892 & 0.3696 & 0.2524 & 0.14 \\ \hline
14 &0.5093 & 0.3845 & 0.262 & 0.1446 \\ \hline
15 &0.5281 & 0.3985 & 0.2711 & 0.1489 \\ \hline
16 &0.5457 & 0.4115 & 0.2795 & 0.1528 \\ \hline
17 &0.5622 & 0.4237 & 0.2874 & 0.1564 \\ \hline
18 &0.5775 & 0.4351 & 0.2948 & 0.1598 \\ \hline
19 &0.5919 & 0.4458 & 0.3017 & 0.163 \\ \hline
20 &0.6054 & 0.4558 & 0.3081 & 0.1659 \\ \hline

### experiment 5

In [47]:
df_1 = pd.read_excel('exp_5/P_energy.xlsx')
df_1

    Unnamed: 0  $b_1$=0.5   $b_1$=1  $b_1$=1.5   $b_1$=2
0            1   0.818731  0.670320   0.548812  0.449329
1            2   0.748425  0.578845   0.431050  0.308374
2            3   0.698269  0.530782   0.376989  0.246409
3            4   0.652840  0.493968   0.342933  0.210607
4            5   0.610500  0.461359   0.316925  0.186399
5            6   0.570922  0.431283   0.294807  0.168290
6            7   0.533913  0.403265   0.274991  0.153773
7            8   0.499305  0.377097   0.256818  0.141558
8            9   0.466939  0.352640   0.239981  0.130931
9           10   0.436672  0.329774   0.224311  0.121472
10          11   0.408367  0.308394   0.209698  0.112924
11          12   0.381896  0.288402   0.196056  0.105120
12          13   0.357142  0.269706   0.183314  0.097946
13          14   0.333992  0.252223   0.171408  0.091323
14          15   0.312342  0.235874   0.160280  0.085188
15          16   0.292096  0.220584   0.149878  0.079495
16          17   0.273163  0.206286   0.140154  0.074203
17          18   0.255456  0.192914   0.131063  0.069279
18          19   0.238897  0.180409   0.122562  0.064694
19          20   0.223412  0.168715   0.114614  0.060422

In [52]:
df_2 = pd.read_excel('exp_5/P_idle.xlsx')
df_2

    Unnamed: 0  $b_1$=0.5   $b_1$=1  $b_1$=1.5   $b_1$=2
0            1   0.741930  0.634716   0.535819  0.446111
1            2   0.673255  0.537009   0.412752  0.302592
2            3   0.627771  0.490377   0.358153  0.240284
3            4   0.586948  0.456203   0.325141  0.204813
4            5   0.548896  0.426146   0.300409  0.181093
5            6   0.513317  0.398417   0.279498  0.163469
6            7   0.480044  0.372563   0.260777  0.149389
7            8   0.448927  0.348403   0.243596  0.137560
8            9   0.419827  0.325815   0.227663  0.127271
9           10   0.392614  0.304693   0.212823  0.118112
10          11   0.367165  0.284942   0.198976  0.109829
11          12   0.343365  0.266471   0.186044  0.102263
12          13   0.321108  0.249198   0.173961  0.095304
13          14   0.300294  0.233044   0.162668  0.088875
14          15   0.280829  0.217938   0.152111  0.082918
15          16   0.262625  0.203811   0.142243  0.077386
16          17   0.245602  0.190600   0.133016  0.072243
17          18   0.229682  0.178246   0.124389  0.067456
18          19   0.214794  0.166692   0.116323  0.062997
19          20   0.200871  0.155887   0.108780  0.058841

In [53]:
df_all = pd.concat([df_1, df_2], axis=1)
df_all

,Unnamed: 0,$b_1$=0.5,$b_1$=1,$b_1$=1.5,$b_1$=2,Unnamed: 0,$b_1$=0.5,$b_1$=1,$b_1$=1.5,$b_1$=2
0,1,0.818731,0.670320,0.548812,0.449329,1,0.741930,0.634716,0.535819,0.446111
1,2,0.748425,0.578845,0.431050,0.308374,2,0.673255,0.537009,0.412752,0.302592
2,3,0.698269,0.530782,0.376989,0.246409,3,0.627771,0.490377,0.358153,0.240284
3,4,0.652840,0.493968,0.342933,0.210607,4,0.586948,0.456203,0.325141,0.204813
4,5,0.610500,0.461359,0.316925,0.186399,5,0.548896,0.426146,0.300409,0.181093
5,6,0.570922,0.431283,0.294807,0.168290,6,0.513317,0.398417,0.279498,0.163469
6,7,0.533913,0.403265,0.274991,0.153773,7,0.480044,0.372563,0.260777,0.149389
7,8,0.499305,0.377097,0.256818,0.141558,8,0.448927,0.348403,0.243596,0.137560
8,9,0.466939,0.352640,0.239981,0.130931,9,0.419827,0.325815,0.227663,0.127271
9,10,0.436672,0.329774,0.224311,0.121472,10,0.392614,0.304693,0.212823,0.118112
10,11,0.408367,0.308394,0.209698,0.112924,11,0.367165,0.284942,0.198976,0.109829
11,12,0.381896,0.288402,0.196056,0.105120,12,0.343365,0.266471,0.186044,0.102263
12,13,0.357142,0.269706,0.183314,0.097946,13,0.321108,0.249198,0.173961,0.095304
13,14,0.333992,0.252223,0.171408,0.091323,14,0.300294,0.233044,0.162668,0.088875
14,15,0.312342,0.235874,0.160280,0.085188,15,0.280829,0.217938,0.152111,0.082918
15,16,0.292096,0.220584,0.149878,0.079495,16,0.262625,0.203811,0.142243,0.077386
16,17,0.273163,0.206286,0.140154,0.074203,17,0.245602,0.190600,0.133016,0.072243
17,18,0.255456,0.192914,0.131063,0.069279,18,0.229682,0.178246,0.124389,0.067456
18,19,0.238897,0.180409,0.122562,0.064694,19,0.214794,0.166692,0.116323,0.062997
19,20,0.223412,0.168715,0.114614,0.060422,20,0.200871,0.155887,0.108780,0.058841

In [54]:
R = 4
col = 4
k = 1
for i in range(len(df_all)):
    s = f'{k} &'
    for j in range(col):
        s += f"{round(df_all.iloc[i, 1 + j], R)} & "
        s += f"{round(df_all.iloc[i, 2 + col + j], R)} & "
    k += 1
    print(s[:-2] + "\\\\ \\hline")

1 &0.8187 & 0.7419 & 0.6703 & 0.6347 & 0.5488 & 0.5358 & 0.4493 & 0.4461 \\ \hline
2 &0.7484 & 0.6733 & 0.5788 & 0.537 & 0.4311 & 0.4128 & 0.3084 & 0.3026 \\ \hline
3 &0.6983 & 0.6278 & 0.5308 & 0.4904 & 0.377 & 0.3582 & 0.2464 & 0.2403 \\ \hline
4 &0.6528 & 0.5869 & 0.494 & 0.4562 & 0.3429 & 0.3251 & 0.2106 & 0.2048 \\ \hline
5 &0.6105 & 0.5489 & 0.4614 & 0.4261 & 0.3169 & 0.3004 & 0.1864 & 0.1811 \\ \hline
6 &0.5709 & 0.5133 & 0.4313 & 0.3984 & 0.2948 & 0.2795 & 0.1683 & 0.1635 \\ \hline
7 &0.5339 & 0.48 & 0.4033 & 0.3726 & 0.275 & 0.2608 & 0.1538 & 0.1494 \\ \hline
8 &0.4993 & 0.4489 & 0.3771 & 0.3484 & 0.2568 & 0.2436 & 0.1416 & 0.1376 \\ \hline
9 &0.4669 & 0.4198 & 0.3526 & 0.3258 & 0.24 & 0.2277 & 0.1309 & 0.1273 \\ \hline
10 &0.4367 & 0.3926 & 0.3298 & 0.3047 & 0.2243 & 0.2128 & 0.1215 & 0.1181 \\ \hline
11 &0.4084 & 0.3672 & 0.3084 & 0.2849 & 0.2097 & 0.199 & 0.1129 & 0.1098 \\ \hline
12 &0.3819 & 0.3434 & 0.2884 & 0.2665 & 0.1961 & 0.186 & 0.1051 & 0.1023 \\ \hline
13 &0.3571 & 0.3211 & 0.2697 & 0.2492 & 0.1833 & 0.174 & 0.0979 & 0.0953 \\ \hline
14 &0.334 & 0.3003 & 0.2522 & 0.233 & 0.1714 & 0.1627 & 0.0913 & 0.0889 \\ \hline
15 &0.3123 & 0.2808 & 0.2359 & 0.2179 & 0.1603 & 0.1521 & 0.0852 & 0.0829 \\ \hline
16 &0.2921 & 0.2626 & 0.2206 & 0.2038 & 0.1499 & 0.1422 & 0.0795 & 0.0774 \\ \hline
17 &0.2732 & 0.2456 & 0.2063 & 0.1906 & 0.1402 & 0.133 & 0.0742 & 0.0722 \\ \hline
18 &0.2555 & 0.2297 & 0.1929 & 0.1782 & 0.1311 & 0.1244 & 0.0693 & 0.0675 \\ \hline
19 &0.2389 & 0.2148 & 0.1804 & 0.1667 & 0.1226 & 0.1163 & 0.0647 & 0.063 \\ \hline
20 &0.2234 & 0.2009 & 0.1687 & 0.1559 & 0.1146 & 0.1088 & 0.0604 & 0.0588 \\ \hline